@import "fonts"
@import "libs"
@import "vars"
@import "_mixins/clearfix"

*
	&::-webkit-scrollbar
		width: 5px
		height: 50px
	&::-webkit-scrollbar-thumb
		background: rgba(255, 255, 255, 0.2)
		border-radius: 3px
	&::-webkit-scrollbar-track
		background: #fff

body
	+font-family(roboto)
	font-size: 16px
	min-width: 320px
	position: relative
	line-height: 1.5
	letter-spacing: .02em
	background-color: #fff
	color: #999

a, a:focus, a:active, a:visited
	color: $orange
	text-decoration: none
